<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogang.mapper.StudentMapper">

	<resultMap type="student" id="studentMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="age" property="age" jdbcType="INTEGER"/>
		<result column="salary" property="salary" jdbcType="DECIMAL"/>
	</resultMap>

	<select id="selectAllStudent" resultMap="studentMap">
		select * from student
	</select>
	
	<select id="selectSalaryById" resultType="BigDecimal">
		select salary from student where id = #{id}
	</select>




</mapper>